form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 400px; /* Ширина формы */
    margin: 50px auto; /* Центрирование формы */
  }
  
  input[type=text],
  input[type=email],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }